.menu-card {
    display: flex;
    width: 10em;
    background: rgba(255, 255, 255, 0.83);
    border: 0.6px solid rgba(0, 48, 46, 0.14);
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.menu-card img {
    margin-top: 2em;
    height: 3.5em;
    width: 3.5em;
}
.menu-card p {
    width: 12em;
    font-size: 10px;
    margin-top: 1em;
}
.menu-card h4 {
    font-size: 13px;
    margin-top: .8em;
}
.price-place {
    width: 10em;
    display: flex;
    margin-top: .7em;
    flex-direction: row;
}
.price-place p {
    font-size: 10px;
}